# Библиотеки и исполняемые файлы
*.exe
*.dll
*.so
*.dylib

# Объектные файлы
*.o
*.obj

# Файлы IDE
.idea/
*.iml
.vs/
*.sln
*.vcxproj*

# Директории сборки
build/
Debug/
Release/
x64/
out/

# Временные файлы
*.swp
*~
~*
